html,
body {
    height: 100%;
}

#root {
    height: 100%;
}
.app {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 0 20px;
}

.app-header {
    display: flex;
    justify-content: center;
}

.app-logo {
    height: 130px;
}

.chartContainer {
    display: flex;
    justify-content: center;
}

.chartSizer {
    width: 80%;
    max-width: 1200px;
}